/* text styles */
body {
  color: white;
  font-size: 16px;
  font-family: courier;
  font-weight: bold;
  background-repeat: no-repeat;
  background-color: #232323;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #847cd4;
}

boldCode {
  color: white;
  font-size: 150px;
}

h1 {
  color: #847cd4;
  font-weight: bold;
  font-size: 80px;
}
h2 {
  color: #847cd4;
  font-weight: bold;
  font-size: 30px;
}
h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
h4 {
  color: rgba(35, 35, 35, 0.5);
  font-size: 16px;
}
h5 {
  color: rgba(130, 124, 206, 0.7);
  font-size: 16px;
}
reg {
  color: white;
}

dark {
  color: #232323;
}

coloured {
  color: #847cd4;
}

.logo img {
  width: 70px;
}
.logo {
  padding-left: 10px;
  float: left;
}
.name {
  float: left;
  padding-left: 15px;
  padding-top: 25px;
}
.links {
  float: right;
  text-align: right;
  height: 100%;
  margin-right: 50px;
  padding-top: 25px;
}

.link {
  margin-right: 40px;
  float: left;
  font-weight: lighter;
}

header {
  position: fixed;
  font-size: larger;
  width: 100%;
  background-color: rgba(35, 35, 35, 0.7);
}

.top {
  background-color: white;
  height: 350px;
  padding-left: 100px;
  padding-top: 200px;
  font-weight: bold;
}

.content {
  width: 1920px;
  margin: 0 auto;
}

.panel {
  width: 670px;
  height: 400px;
  margin: 40px;
  background-color: #847cd4;
  float: left;
  background-size: cover;
  background-position: center;
}

.text h2 {
  text-align: center;
  color: white;
}
.text h5 {
  margin-left: 30px;
  color: #847cd4;
}
.panel .text {
  width: 100%;
  height: 100%;
  opacity: 0;
  padding-top: 40px;
  margin-top: -10px;
  transition: opacity 0.5s ease;
  background-color: rgba(35, 35, 35, 0.7);
}
.panel:hover .text {
  visibility: visible;
  opacity: 1;
}

.bar {
  clear: both;
  padding-top: 50px;
  margin: 0 auto;
  width: 606px;
}
.bar p {
  float: left;
  margin-right: 50px;
}

.tab {
  margin-left: 30px;
}
